@model Bookshop.Models.Book  
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h4>
    Details about book:
</h4>
<span>
    <br />
    <b>@Html.DisplayNameFor(model => model.Tittle) </b>  @Html.DisplayFor(model => model.Tittle)
    <br />
    <b> @Html.DisplayNameFor(model => model.Author)</b>  @Html.DisplayFor(model => model.Author)
    <br />
    <b> @Html.DisplayNameFor(model => model.ProductionDate)</b>  @Html.DisplayFor(model => model.ProductionDate)
    <br />
    <b>@Html.DisplayNameFor(model => model.Category)</b>  @Html.DisplayFor(model => model.Category)
</span>