@model  IEnumerable<Bookshop.Models.Book>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello in Bookery</h1>
</div>

<div class="row">
    <a href="@Url.Action("Insert", "Home")"> <input type="submit" value="+ Add Book" name="btn addBook" /></a>

    <table class="table">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Tittle)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Author)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.ProductionDate)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Category)
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Tittle)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ProductionDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Category)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Home", new { id = item.IdBook })"> <input type="submit" value="Details" name="btn detailsBook" /></a>
                    <a href="@Url.Action("Delete", "Home", new { id = item.IdBook })"> <input type="submit" value="Detele" name="btn deleteBook" /></a>
                  @*  <a href="@Url.Action("Update", "Home", new { id = item.IdBook })"> <input type="submit" value="Update" name="btn updateBook" /></a>*@
                </td>
            </tr>
            }


        </tbody>
    </table>



</div>